body{
	font-family: 'Noto Serif', serif;
	background:#FCFEF5 ;
	text-align: center; 
}

h1{
	color:white;
	font-size: 40px; 
	font-weight: bold;

}


h2{
	font-weight: lighter;
	color:white;
}

h3{
	font-size: 26px; 
	color: #D18377;	
}

h4{
	font-size:20px;


}

p{
	font-size:16px;
	font-family: 'Rokkitt', serif;
}

.banner{
	
	background: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgba(200,200,200,0.6)), url("images/Banner-punch.jpg");
	background-size: cover;
	padding:50px;
	background-size:1400px;
	object-fit:cover;
	background-position: center;
	position:relative;


}

.nav-link{
	color:white;
	font-weight: bold;
	font-size:16px;

}

	
img{
	height: 200px;
  	width: 200px;
  	border-radius:5px;
  	object-fit: cover;
  	margin:20px;
 
}


.box-beige{
	background: rgb(240,240,240); 
	border-radius: 5px;
	padding:20px;
	margin-top:30px;
	

}

.section{
	padding:50px;
}


.footer{
	font-size: 40px;
	background:rgb(240,240,240);
	text-align:left;
	padding:20px;

}







