body{
	font-family: 'Noto Serif', serif;
	background: #E8E7D5;
	text-align: center; 
}

h1{
	color:white;
	font-size: 40px; 
	font-weight: bold;

}

h3{
	font-size: 20px; 

}

h4{
	font-size:20px;
	margin-top:10px;
}

p{
	font-size:16px;
	font-family: 'Rokkitt', serif;
}

.banner{
	
	background: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgba(200,200,200,0.6)), url("images/Banner-punch.jpg");
	background-size: cover;
	padding:50px;
	background-size:1400px;
	object-fit:cover;
	background-position: center;
	position:relative;


}

.nav-link{
	color:white;
	font-weight: bold;
	font-size:16px;

}


h2{
	font-weight: lighter;
	color: #D18377;

}

	
img{
	height: 200px;
  	width: 200px;
  	border-radius:5px;
  	object-fit: cover;
  	margin:20px;
 
}

h3{
	font-size:23px;
	
}


.box-beige{
	background: #FFF1D6; 
	border-radius: 5px;
	padding:20px;
	margin-top:30px;
	

}

.section{
	padding:50px;
}


.footer{
	font-size: 40px;
	background:#FFFDD7;
	text-align:left;
	padding:20px;

}







