body{
	font-family: arial;
	background: #E8DAD7;
	text-align: center; 
}

h1{
	color:red;
	font-size: 40px; 
	font-family: arial; 
	background: yellow;
}
p{
	/*background-image: url(images/fleur.jpg);
	background-position: center; 
	background-size: cover;*/
}

a{
	text-decoration: none;
	padding:20px; 
	border-radius:5px;
	color: white;
}

a:hover{
	background:#642224;
}
ol{
	text-align: left;
}

img{
	width: 500px;
}